.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(1deg, rgb(243, 89, 0) 0%, rgba(255,255,255,0) 20rem);
}
.footerSpan{
    color: rgb(243, 89, 0);
    font-weight: bold;
}
.logo{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.social {
    display: flex;
    gap: 1rem;
}
.social>* {
    fill: rgb(243, 89, 0);
}
.bottomSpan {
    font-weight: bold;
}